
/* Index */
.index {
    background-color: antiquewhite;
}

*{
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.img_1 {
    width: 80%;
    height: 80%;
}

.upper {
    box-sizing: border-box ;
    margin: 0 20%;
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: darkgray;
    border-radius: 25px;
}

.container {
    margin: 16px;
    font-family: "Cuprum", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
   
    
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.definitions {
    text-align: left;
}

.define {
    margin-left: 60px;
}

/* ========================= */

/* Artist */



  /* ========================= */

/* Art */
