body {
    background: honeydew;
}

.button {
    font-family: 'Courier New', Courier, monospace;
    border:none;
    border-radius: 12px;
    padding: 15px 32px;
    margin: 4px 2px;
    text-align: center;
    color: #1D3557;
    background: #A8DADC;
    transition-duration: 0.4s;
}

.button:hover{
    background: #E63946; 
    color: white;
}

h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
}


p{
    font-family: 'Courier New', Courier, monospace;
}

a{
    font-family: 'Courier New', Courier, monospace;
    color: #e63946;
}