/*
COLOR PALLET

Red Pantalone: #e63946
Honeydew: #f1faee
Non Photogenic Blue: #a8dadc
Cerulean: #457b9d
Berkley Blue: #1d3557
*/

/* GLOBAL STYLES
=====================================================================*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
        box-sizing: inherit;
  }

html, body{
    height: 100%;
}

body {
    background: honeydew;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Courier New', Courier, monospace;
}


/* LINKS*/
a{
    font-family: 'Courier New', Courier, monospace;
    color:#457b9d;
}

a:hover {
    color:#e63946;
    text-decoration: none;
}

footer a{
    font-family: 'Courier New', Courier, monospace;
    color: #e63946;
}
footer a:hover {
    color: #457b9d;
    text-decoration: none;
}

.btn {
    background: #457b9d;
    color: #f1faee ;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;

    max-width: 900px;

}
/* HOME
=====================================================================*/
.home {
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper{
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.8);
    padding: 30px 60px;
}




/* RESUME
=====================================================================*/
.button {
    font-family: 'Courier New', Courier, monospace;
    border:none;
    border-radius: 12px;
    padding: 15px 32px;
    margin: 4px 2px;
    text-align: center;
    color: #1D3557;
    background: #A8DADC;
    transition-duration: 0.4s;
}

.button:hover{
    background: #E63946; 
    color: white;
}

.resume header::before {
    background: url(../images/bg-home-office-city.jpg);
    background-size: cover;
    background-position: center;
    content: "";
    display: block;
    height: 375px;
}

.resume-section {
    margin-bottom: 50px;
}

.resume-section h2 {
    border-bottom: 2px dashed #1d3557 ;
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;

}


/* PROFILE
=====================================================================*/






/* PROJECTS
=====================================================================*/
.project-item {
    display: flow-root;
    margin: 30px 0;
}
.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}






/* WORK EXPERIENCE
=====================================================================*/
.work-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}







/* EDUCATION
=====================================================================*/






/* FOOTER
=====================================================================*/
footer {

    background: #1d3557;
    color: white; 
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    
}
.socials{
    list-style-type: none;
    padding: 0;
}
.socials li{
    display: inline-block;
    margin-left: 15px;
}
.socials img {
    width: 32px;
}
.socials img:hover{
    opacity: 35%;
}
