/*
COLOR PALLET

Red Pantalone: #e63946
Honeydew: #f1faee
Non Photogenic Blue: #a8dadc
Cerulean: #457b9d
Berkley Blue: #1d3557
*/

/* GLOBAL STYLES
=====================================================================*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%;/* set defualt to 10px*/
  }
  *, *:before, *:after {
        box-sizing: inherit;
  }

html, body{
    height: 100%;
}

body {
    background: #a8dadc;
    margin: 0;
    font-family: "Cuprum", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
}

h1, h2, h3 {
    font-family: "Kanit", system-ui;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 6rem;
    line-height: 0.85;
    

}

h2 {
    font-size: 3.6rem;
    
}

h3 {
    font-size: 2.4rem;
}

/* LINKS*/
a{
    font-family: 'Courier New', Courier, monospace;
    color:#457b9d;
}

a:hover {
    color:#e63946;
    text-decoration: none;
}

footer a{
    font-family: 'Courier New', Courier, monospace;
    color: #e63946;
}
footer a:hover {
    color: #457b9d;
    text-decoration: none;
}

.btn {
    background: #457b9d;
    color: #f1faee ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: .1em;
    border:none;
    border-radius: 12px;
    line-height: 1;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;

    max-width: 900px;
}
.content-wrapper1 {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    background:#457b9d;

}

.content-wrapper1 h1{
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
    background: #1d3557;
    border-radius: 50px;
}


/* HOME
=====================================================================*/
.home {
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper{
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.8);
    padding: 30px 60px;
}

.content-bg1 {
    background: rgb(255 255 255 / 0.8);
    padding: 30px 60px;
}

@media screen and (max-width:650px);{
    .home .content-wrapper{
       padding: 10px;
    }
    .content-bg {
        padding: 20px;
    }
}

#scene-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* VIDEO
=====================================================================*/
.video{
    width: 100%;
    height: 10%;
    padding: 15px 15px;

}
/* IMAGE GALLERY
=====================================================================*/


/* RESUME
=====================================================================*/
.button {
    font-family: "Cuprum", sans-serif;
    font-size: 1.5rem;
    border:none;
    border-radius: 12px;
    padding: 15px 32px;
    margin: 4px 2px;
    text-align: center;
    color: white;
    background: #1D3557;
    transition-duration: 0.4s;
}

.button:hover{
    background: #E63946; 
    color: white;
}

.resume header::before {
    background: url(../images/lost_starling.png);
    background-size: cover;
    background-position: center;
    content: "";
    display: block;
    height: 275px;
}

.resume-section {
    margin-bottom: 55px;
}

.resume-section h2 {
    border-bottom: 2px dashed #1d3557 ;
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}
@media screen and (max-width: 1200px) {
    .download-link {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .resume header::before{
        height:200px;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.6rem;
    }
}

/* img gallery
=====================================================================*/
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: 2s ease;
}

.img-gallery img:hover {
    transform: scale(1.6);
    box-shadow: 32px 75px rgba(68, 77, 136, 0.2);
}

.imgWrapper{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.imgWrapper img {
    width: 90%;
    max-width: 1000px;
}

.imgWrapper span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    font-family: sans-serif;    
    cursor: pointer;

}

/* PROJECTS
=====================================================================*/
.project-item {
    margin: 30px 0;
}
.project-item img {
    width: 300px;
}
@media screen and (min-width:860px){
    .project-item {
        display: flow-root;
        margin: 30px 0;
    }
    .project-item img {
        width: 300px;
        float: left;
        margin-right: 20px;
    }
}
@media screen and (min-width:650px) and (max-width:859px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
    }
    .project-item img {
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .project-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}




/* WORK EXPERIENCE
=====================================================================*/
.work-item {
    margin: 30px 0;
}

.work-detil p {
    margin: 0;
}



@media screen and (min-width: 860px) {
    .work-item {
        display: grid;
        grid-template-columns: 2fr 2fr;
        column-gap: 20px;
    }
    .work-summary p:first-child{
        margin-top:0;
    }
}



/* EDUCATION
=====================================================================*/
.education-item  {
    margin: 30px 0;
}
.education-item p {
    margin: 0;
}





/* FOOTER
=====================================================================*/
footer {
    background: #1d3557;
    color: white; 
}
.socials{
    list-style-type: none;
    padding: 0;
}
.socials li{
    display: inline-block;
    margin-left: 15px;
}
.socials img {
    width: 32px;
}
.socials img:hover{
    opacity: 35%;
}

@media screen and (min-width: 860px){
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width:859px){
    footer {
        text-align: center;
        padding: 10px;
    }
}