
/* ============= ============= UNIVERSAL ============= =============*/
a {
    text-decoration: none;
}
/* ============= ============= INDEX ============= =============*/


#art {
    color: rgb(30, 9, 44);
}
/* ============= ============= Yada Yada ============= =============*/

.index-body{
    background-color: rgb(65, 110, 233);
}
.nomnom {
    font-size: 50px;
    color: rgb(255, 221, 31);
}
.wtf {
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.dialog-1,.dialog-2 {
    color: rgb(255, 240, 240) ;
    font-size: 1.3rem;
}

/* DIALOG 1 = FORMER PRESIDENT TRUMP  */
.dialog-1{
    float: left;
    width: 45%;
    padding: 20px;
    font-size: 23px;
}
.dialog-1 h2{
    color: rgb(248, 45, 45);
    background-color: beige;
    border-radius:5px;
    padding: 0 20px ;
    font-size: 2.1rem;
    
}


/* DIALOG 2 = DAVID MUIR */
.dialog-2{
    float: right;
    width: 45%;
    padding: 20px;
    font-size: 23px;
}

.dialog-2 h2{
    color: rgb(24, 14, 14);
    background-color: beige;
    background-color: beige;
    border-radius:5px;
    padding: 0 20px ;
    font-size: 2.1rem;
}

/* ==========================IMAGES ==========================*/

.image-div {
    display: inline-block;

}

.hidden {
    visibility: hidden;
}

#img_00 {
    position:absolute;
    left: 30vw;

}

#img_01 {
    position:absolute;
}

#img_02 {
    position:absolute;
    left: 60%;
    scale: 80%;
}

#img_03 {
    position:absolute;
    top: 80%;
    left: 60vw;
    scale: 50%;
}

#img_04 {
    position:absolute;
    top: 820px;
    right: 60vw;
}

#img_05 {
    position:absolute;
    top: 80vw;
    left: 30vw;
    scale: 150%;
    opacity: 80%;
}

#img_06 {
    position:absolute;
}


